<h1>Angular 11 Image Upload with Preview</h1>
<form (ngSubmit)="submit()" class="row d-flex justify-content-center">
  <div [formGroup]="myFormOne" class="col-1"  >
    <div class="form-group" >
      <label for="fileOne">
        <div style="width: 100px; height: 100px" class="image-form-active d-flex justify-content-center" >
          <img *ngIf="!imageSrcOne" class="align-self-center" style="width: 50px; height: 50px"
            src="../assets/image-placeholder.png" alt="placeholder" />
          <img class="align-self-center" [src]="imageSrcOne" *ngIf="imageSrcOne" style="height: 100px; width: 100px;" />
        </div>
      </label>
      <input formControlName="fileOne" id="fileOne" type="file" class="form-control" (change)="onFileChange($event)">
      <div *ngIf="a['fileOne'].touched && a['fileOne'].invalid" class="alert">
        <div *ngIf="a['fileOne'].errors?.['required']">File is required</div>
      </div>
    </div>
  </div>
  <div [formGroup]="myFormTwo" class="col-1">
    <div class="form-group">
      <label for="fileTwo">
        <div style="width: 100px; height: 100px" class="{{myFormOne.valid ? 'image-form-active d-flex justify-content-center':'image-form d-flex justify-content-center'}}">
          <img *ngIf="!imageSrcTwo" class="align-self-center temp-placeholder" style="width: 50px; height: 50px"
            src="" alt="placeholder" />
          <img class="align-self-center" [src]="imageSrcTwo" *ngIf="imageSrcTwo" style="height: 100px; width: 100px;" />
        </div>
      </label>
      <input formControlName="fileTwo" id="fileTwo" type="file" class="form-control" (change)="onFileChange($event)" [attr.disabled]="!myFormOne.valid?'':null">
      <div *ngIf="b['fileTwo'].touched && b['fileTwo'].invalid" class="alert">
        <div *ngIf="b['file'].errors?.['required']">File is required</div>
      </div>
    </div>
  </div>
  <div [formGroup]="myFormThree" class="col-1">
    <div class="form-group">
      <label for="fileThree">
        <div style="width: 100px; height: 100px"class="{{myFormTwo.valid ? 'image-form-active d-flex justify-content-center':'image-form d-flex justify-content-center'}}">
          <img *ngIf="!imageSrcThree" class="align-self-center temp-placeholder" style="width: 50px; height: 50px"
            src="" alt="placeholder" />
          <img class="align-self-center" [src]="imageSrcThree" *ngIf="imageSrcThree"
            style="height: 100px; width: 100px;" />
        </div>
      </label>
      <input formControlName="fileThree" id="fileThree" type="file" class="form-control" (change)="onFileChange($event)" [attr.disabled]="!myFormTwo.valid?'':null">
      <div *ngIf="c['fileThree'].touched && c['fileThree'].invalid" class="alert">
        <div *ngIf="c['fileThree'].errors?.['required']">File is required</div>
      </div>
    </div>
  </div>

  <div [formGroup]="myFormFour" class="col-1">
    <div class="form-group">
      <label for="fileFour">
        <div style="width: 100px; height: 100px" class="{{myFormThree.valid ? 'image-form-active d-flex justify-content-center':'image-form d-flex justify-content-center'}}">
          <img *ngIf="!imageSrcFour" class="align-self-center temp-placeholder" style="width: 50px; height: 50px"
            src="" alt="placeholder" />
          <img class="align-self-center" [src]="imageSrcFour" *ngIf="imageSrcFour"
            style="height: 100px; width: 100px;" />
        </div>
      </label>
      <input formControlName="fileFour" id="fileFour" type="file" class="form-control" (change)="onFileChange($event)" [attr.disabled]="!myFormThree.valid?'':null">
      <div *ngIf="d['fileFour'].touched && d['fileFour'].invalid" class="alert">
        <div *ngIf="d['fileFour'].errors?.['required']">File is required</div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <button class="btn btn-primary mt-5 col-1 align-self-center" type="submit">Submit</button>
  </div>
</form>